<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<script src="./src/vue.js"></script>
<body>
    <div id="one">
       <ul>
           <li @click="fn">xiaobai</li>
           <li v-show="show">jhgjhgjhg</li>
           <li v-if="show">xiaohei</li>
           <li v-for="item,index in j">{{item}}------{{index}}</li>
       </ul>
    </div>
    
    <script>

    let data={
        a:1,
        show:false,
        j:[1,2,3,4]
        }
   
   new Vue({
        el:"#one",
        //data是固定的
        data:data,
        methods:{
            fn(){
            console.log(1)
            this.show= !this.show
        }
        }
      
    })
    </script>
</body>
</html>